*{
    font-family: Helvetica, sans-serif;
    color: #f4c20c;
    background-color: #494949;
  }

  header{
    height: 100vh;
    width: 98vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://previews.123rf.com/images/yarruta/yarruta1704/yarruta170400047/75424885-underwater-portrait-of-man-person-having-fun-in-swimming-pool-summer-vacation-concept.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header-text{
    width: 30vw;
    padding: 4rem;
    background-color: rgba(73, 73, 73, 0.8);
  }

  h1, h2, h3{
    text-align: center;
    background-color: transparent;
  }

  .title{
    font-size: 2em;
  }

  .flex-container{
    display: flex;
    padding: 2rem;
    justify-content: space-around;
    padding: 3vw;
    flex-wrap: wrap;
  }

  .bio, .resume-container{
    padding: 1rem;
    width: 35vw;
  }

  .headshot{
    width: 25vw;
    margin: auto;
    border-radius: 50%;
  }

  p, article, ul{
    line-height: 1.5rem;
    list-style-type: none;
  }

  article{
    margin-top: 2em;
  }

  footer{
    padding-top: 15vh;
    height: 20vh;
    text-align: center;
  }